html,body {
    height: 100%;
    margin : 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding : 0;
}

.center {
    position: fixed;
}

#app {
    height : 100%;
}

.root-wrap {
    height : 100%;
}

.hide {
    display : none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.dialog-error {
    color : #f44336;
}

ul {
    list-style : none;
}

.tp-loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

a {
    text-decoration:none;
}

select,textarea {
    outline : none;
}
