html,body {
    height: 100%;
    margin : 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: lightcoral;
}

.hide {
    display : none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

ul {
    list-style : none;
}

a {
    text-decoration:none;
}

select,textarea {
    outline : none;
}
